*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0),blue);
}
.container{
    background-color: black;
    border: 2PX black solid;
    height: 70vh;
    width: 300px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button{
    cursor: pointer;
    color: white;
    background-color:#333131;
    width: 60px;
    height: 60px;
    border-radius: 80%;
    border: none;
    font-size: 4vh;
}
.buttons-container{
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 4px;
}
.op{
background-color:rgb(255, 115, 0);
}
.row{
    display: flex;
    gap:7px;
}
.display{
    font-size: 45px;
    padding: 20px;
    height:20%;
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: right;
}

